extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(action='/asignatura/save' method='post')    
    label Nombre
    input(type="text" name="nombre")
    br
    label Numero de Horas
    input(type="text" name="numHoras")
    br
    label Alumno
    select(name="alumno")
      -for(var i = 0;i< listaAlumnos.length ;i++){
      option(value = listaAlumnos[i].id) #{listaAlumnos[i].nombre} #{listaAlumnos[i].apellido}
      -} 
    p Profesor         
      -for(var i = 0;i< listaDocentes.length ;i++){
        br
        label #{listaDocentes[i].nombre} #{listaDocentes[i].apellido}
        input(type='checkbox' value = listaDocentes[i].id) 
      -}   
    br
    input(type="submit")

