
  <br><br>
  <p class="h1 text-center">Incidencias</p>
  <br><br>
  <div class="p-5 border border-dark rounded">
    <form method="post" action="/incidenciaEnviada" >
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre">
          </div>
        </div>
        <div class="col-5">
          <div class="mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni" maxlength="10">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label class="form-label">Tipo incidencia</label>
          <select class="form-select" name="incidencia">
            <option>...</option>
            <option value="borrado">Tutorial borrado</option>
            <option value="recuperarPass">Recuperar contraseña</option>
            <option value="otros">Otros</option>
          </select>
        </div>
        <div class="col-6">
          <label class="form-label">Urgencia</label>
          <select class="form-select">
            <option value="baja">Baja</option>
            <option value="media">Media</option>
            <option value="alta">Alta</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <label class="form-label">Descripción</label>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 150"></textarea>
        </div>
      </div>
      <br>
      <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
  </div>



</html>