<br><br>
<p class="h1 text-center">Lista Incidencias</p>
<br><br>
<div class="row">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Descripcion</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% for(var inci of incidencias) { %>
        <tr>
          <td>
            <%= inci.id %>
          </td>
          <td>
            <%= inci.tipoIncidencia %>
          </td>
          <td>
            <%= inci.descripcion %>
          </td>
          <td>
            <router-link :to="{ name: 'editarTutorial', params: { id: tutorial.id } }">
              <button type="button" class="btn btn-warning btn-sm p-0 mx-1">
                Modificar
              </button>
            </router-link>

            <button type="button" class="btn btn-danger btn-sm p-0 mx-1" @click="borrarTutorial(tutorial.id)">
              Eliminar
            </button>
          </td>
        </tr>
        <%} %>
    </tbody>
  </table>
</div>